@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Roboto', "Segoe UI" "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: 'Lato', sans-serif;*/
}

body{
    /*background: rgba(0, 0, 0, 0.800);*/
    background: rgb(0, 0, 0, 0.870);
    
}

header{
    height: 100px;
}


.container__header{
    width: 100%;
    height: 100%;
    /*margin: auto;*/
    padding: 20px;
    /*padding-top: 80px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.mover{
    background: #202020;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 90px;
    filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(35deg) brightness(106%) contrast(100%);
    opacity: 0.7;
}


.menu nav ul{
    display: flex;
}
.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}
.menu nav ul a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: opacity 300ms;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
}
.menu nav ul a:hover{
    color: silver;
}

.btn__header-botonMenu{
    padding: 14px 50px;
    border: none;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: background, color, 300ms;
    opacity: 0.7;
}
.btn__header-botonMenu:hover{
    background: mediumpurple;
    color: white;
    opacity: 0.9;
}

#icon_menu{
    display: none;
}


/* PORTADA - COVER */
main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding-top: 40px;
    margin: auto;
}
.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;   
}
.text__articulo-cover{
    width: 100%;
}

/* Título y Subtítulo*/
.text__articulo-cover h1{
    font-size: 31px;
    /*color: rgb(122, 162, 235);*/
    color: rgb(119, 99, 207);
    font-weight: normal;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: 'Roboto';
}
.text__articulo-cover h2{
    font-size: 24px;
    /*color: rgb(122, 162, 235);*/
    color: rgb(119, 99, 207);
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}
.text__articulo-cover h3{
    font-size: 20px;
    /*color: rgb(122, 162, 235);*/
    color: rgb(231, 113, 113);
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}
.text__articulo-cover h4{
    font-size: 20px;
    /*color: rgb(122, 162, 235);
    color: rgb(94, 177, 62);*/
    color: rgb(235, 154, 78);
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}
.text__articulo-cover h5{
    font-size: 20px;
    /*color: rgb(122, 162, 235);*/
    color: rgb(255, 99, 99);
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}
.text__articulo-cover h6{
    font-size: 20px;
    /*color: rgb(122, 162, 235);*/
    color: rgb(217, 238, 101);
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
}
.text__articulo-cover p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    opacity: 0.7;
    font-family: 'Roboto';
}
.text__articulo-cover a{
    color: rgb(255, 96, 207);
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: rgb(167, 111, 207);
}


/* Marcador*/
.subrayado {
    background-color: #080808;
    border-radius: 3px;
    padding-left: 3px; /* Agrega padding a la izquierda */
    padding-right: 3px; /* Agrega padding a la derecha */
    font-family: 'Roboto';
  }
.resaltado1 {
    /*color: rgb(137, 170, 231);
    opacity: 1;*/
    background-color: #3a0e0e;
    border-radius: 3px;
    padding-left: 3px; /* Agrega padding a la izquierda */
    padding-right: 3px; /* Agrega padding a la derecha */
    font-family: 'Roboto';
}

/* Colores de letra */
.resaltado2 {
    color: rgb(163, 221, 136);
    font-style: italic;
    opacity: 1.5;
    font-family: 'Roboto';
}
.resaltado3 {
    color: rgb(199, 131, 248);
    opacity: 1.5;
    font-family: 'Roboto';
}
.resaltado4 {
    color: rgb(153, 229, 231);
    font-style: italic;
    opacity: 1.5;
    font-family: 'Roboto';
}
.resaltado5 {
    color: rgb(247, 139, 139);
    font-style: italic;
    opacity: 1.5;
    font-family: 'Roboto';
}
.resaltado6 {
    font-style: italic;
    opacity: 1.5;
    color: rgb(237, 250, 162); /* Cambia el color a tu preferencia */
    font-family: 'Roboto';
}

/* Resultado de ecuaciones */
.resaltado7 {
    border: 1px solid #ecff3f;
    padding: 8px;
    font-family: 'Roboto'
}
.resaltado17 {
    border: 1px solid #ecff3f;
    padding: 4px;
    font-family: 'Roboto';
}

 /* Subrayado */
 .resaltado15 {
    opacity: 1;
    text-decoration: underline;
    font-style: oblique;
    font-family: 'Roboto';
}

/* Negrita */
.resaltado8 {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Roboto';
}
.resaltado18 {
    font-style: italic;
    color: white;
}

/* Italic */
.resaltado9 {
    font-style: italic;
    color: #a5abf8; /* Cambia el color a tu preferencia */ 
    opacity: 1.5; 
    font-family: 'Roboto'; 
}
.resaltado10 {
    font-style: italic;
    color: #ff5c9a; /* Cambia el color a tu preferencia */
    font-family: 'Roboto';
}
.resaltado11 {
    font-style: italic;
    color: #f39965; /* Cambia el color a tu preferencia */
    opacity: 1;
    font-family: 'Roboto';
}
.resaltado12 {
    opacity: 1;
    color: #7678f7; /* Cambia el color a tu preferencia */
    font-style: italic;
    font-family: 'Roboto';
}
.resaltado14 {
    opacity: 1;
    color: #ee9bc4; /* Cambia el color a tu preferencia */
    font-style: italic;
    font-family: 'Roboto';
}

.resaltado13 {
    color: rgb(128, 25, 201);
    color: rgb(67, 151, 67);
    color: #009933
    text-decoration: underline;
    font-family: 'Roboto';
    opacity: 1;
}

/* Listas */
.text__articulo-cover ul li{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Roboto';
    opacity: 0.7;
}
.text__articulo-cover ol li{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Roboto';
    opacity: 0.7;
}

.custom-list {
    list-style-type: none; /* Quita el punto predeterminado */
    margin: 0;
    padding: 0;
}
  
  .custom-list li {
    position: relative;
    
}

.custom-list li::before {
    content: "❍ ";  /* símbolo que se mostrará antes de cada elemento */  
    left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Roboto';
    opacity: 0.7;
}

.custom-list2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
  .custom-list2 li {
    position: relative;
    
}

.custom-list2 li::before {
    content: "∘ ";  /* símbolo que se mostrará antes de cada elemento */  
    left: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Roboto';
    opacity: 0.7;
}

/* Tablas */
.text__articulo-cover table{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Roboto';
    border-spacing: 8px;
}
.text__articulo-cover table td, th {
    width: 200px;
    border: 1px solid white; /* Define el estilo del borde de las celdas */
    padding: 8px; /* Añade espacio interno a las celdas */
    text-align: right; /* Alinea el contenido de las celdas a la derecha */
    font-family: 'Roboto';
    opacity: 0.7;
  }

iframe {
    display: block;
    margin: 0 auto; /* Centra horizontalmente el iframe */
    width: 560px; /* Ancho del video */
    height: 315px; /* Alto del video */
}

/* Estilos para la sección de comandos */
.contenedor{
    position: relative;
}
.etiqueta{
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    color: #fff;
    opacity: 0.7;
}
.comandos {
    position: relative;
    padding: 5px;
    border-radius: 10px;
    display: flex;
}

.comandos input.text{
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: monospace;
    max-width: 1000px; 
    /*border: 1px solid rgb(152, 182, 238);*/
    width: auto;
    background-color: #161515;
}

.comandos textarea.text { 
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-family: monospace;
    max-width: 1000px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    width: auto;
    background-color: #161515;
    scrollbar-width: thin; /* Ancho de la barra de desplazamiento en Firefox */
    scrollbar-color: #ccc #161515; /* Color de la barra de desplazamiento en Firefox */
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    resize: none;
}

.comandos button{
    padding: 10px;
    background: rgb(93, 138, 221);
    color: #000;
    font-size: 18px;
    border: 4px solid #161515;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    
}
.comandos button span{
    font-family: monospace;
}
.comandos button:active{
    background: rgb(93, 138, 221);
}
.comandos button:before{
    content: "Copied!";
    position: absolute;
    top: -45px;
    left: 0px;
    background: rgb(93, 138, 221);
    font-family: monospace;
    color: #000;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 13px;
    display: none;
}
.comandos button:after{
    content: "";
    position: absolute;
    top: -20px;
    left: 25px;
    width: 10px;
    height: 10px;
    background: rgb(93, 138, 221);
    transform: rotate(45deg);
    display: none;
}
.comandos.active button:before,
.comandos.active button:after{
    display: block;
}

/* Estilos para la barra de desplazamiento horizontal */
.comandos textarea.text::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    background: #161515;
    transition: all 0.3s;
}
.comandos textarea.text::-webkit-scrollbar-track {
    box-shadow: 0 0 5px 5px #161515 inset;
    border-radius: 10px;
    padding-left: 30px;
}    
.comandos textarea.text::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* Color de la barra de desplazamiento */
    /*background: linear-gradient(45deg, #7678f7, #009933);*/
    border-radius: 10px; /* Radio de borde de la barra de desplazamiento */
    transition: background-color 0.3s;
    border-bottom: 6px solid #161515;
    border-top: 6px solid #161515;
    border-right: 2px solid #161515;
    border-left: 2px solid #161515;
}
.comandos textarea.text::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}


/*<div class="contenedor">
    <div class="etiqueta">
        Muestra una lista de archivos y carpetas en el directorio actual.
    </div>
    <div class="comandos scrollbar">      
      <textarea class="text" oninput="ajustarAncho(this)">comando</textarea>
      <button><i class="fa fa-clone"></i><span></span></button>
    </div>
</div>*/


/* Consola de configuración de red */
.consola {
    background-color: #f4f4f4;
    padding: 0;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Estilos para la barra superior */
.barra-superior-consola {
    text-align: right;
    background-color: rgb(117, 236, 240);
    color: #fff;
    height: 35px;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
}
/* Estilos para el botón */
.boton-copiar-consola {
    background-color: rgb(117, 236, 240);
    font-family: monospace;
    color: #000;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 0;
}

.boton-copiar-consola:hover {
    background: linear-gradient(45deg, #99E5E7, #89d3a2);
}
/* Estilos para el código */
.codigo-consola {
    background-color: #f4f4f4;
    padding: 0;
    font-family: monospace;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #ccc;
    margin: 0; /* Elimina los márgenes predeterminados */
}
.codigo-consola pre {
    white-space: pre; /* Permite saltos de línea automáticos */
    tab-size: 4; /* Establece el tamaño de tabulación */
    font-size: 16px; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea */
    background-color: #252323; /* Fondo */
    padding: 10px; /* Espaciado interno */
    border-radius: 0 0 5px 5px; /* Bordes redondeados */
    border: 2px solid rgb(117, 236, 240); /* Borde */
    overflow-x: auto; /* Barra de desplazamiento horizontal si es necesario */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0; /* Elimina los márgenes predeterminados */
    margin-top: -10px;
}
.codigo-consola pre code {
    /* Estilos específicos para el código dentro del bloque pre */
    color: white; /* Color del texto */
    margin: 0;
    font-size: 16px;
    font-family: monospace;
}
/* Estilos para la barra de desplazamiento horizontal */
.codigo-consola pre::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    background: #252323;
    transition: all 0.3s;
}
.codigo-consola pre::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* Color de la barra de desplazamiento */
    /*background: linear-gradient(45deg, #7678f7, #009933);*/
    border-radius: 2px; /* Radio de borde de la barra de desplazamiento */
    transition: background-color 0.3s;
    border-bottom: 6px solid #252323;
    border-top: 6px solid #252323;
    min-width: 10px;
}
.codigo-consola pre::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3); //* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}


/*Linux Terminal*/ 
#terminal {  
    width: 100%;  
    height: auto;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
} 
#terminal__bar {  
    display: flex;  
    width: 100%;  
    height: 30px;  
    align-items: center;  
    padding: 0 8px;  
    box-sizing: border-box;  
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px;  
    background: linear-gradient(#504b45 0%,#3c3b37 100%);
} 
#bar__buttons {  
    display: flex;  
    align-items: center;
} 
.bar__button {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 0;  
    margin-right: 5px;  
    font-size: 8px;  
    height: 12px;  
    width: 12px;  
    box-sizing: border-box;  
    border: none;  
    border-radius: 100%;  
    background: linear-gradient(#7d7871 0%, #595953 100%);  
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);  
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.bar__button:hover {  
    cursor: pointer;
}
.bar__button:focus {  
    outline: none;
}
#bar__button--exit {  
    background: linear-gradient(#f37458 0%, #de4c12 100%);    
    background-clip: padding-box;
} 
#bar__user {   
    color: #d5d0ce;  
    margin-left: 6px;  
    font-size: 14px;  
    line-height: 15px;
} 
#terminal__body {  
    background: rgba(56, 4, 40, 0.8);  
    font-size: 17px;
    font-family: 'Ubuntu Mono';  
    height: calc(100% - 30px);  
    padding-top: 2px;  
    margin-top: -1px;
    padding-bottom: 1em;
    overflow-x: auto;
    padding-left: 5px;
} 
#terminal__prompt {  
    display: flex;
    flex-wrap: wrap;
}
.user {
    color: #7eda28;
}
#terminal__prompt--user {  
    color: #7eda28;
}

.location {
        color: #4878c0;
}    
#terminal__prompt--location { 
    color: #4878c0;
}

.tool {
    color: #7ee4e7;
}
.param {
    color:#7ebde7;
}
.sudo {
    color: #7eda28;
}

#terminal__prompt--command { 
    color: white;
    white-space: nowrap;
    max-width: 94%;
}
#terminal__prompt--response {
    color: white;
    
}
.bling{
    color: #dddddd;   
}
#terminal__prompt--bling {  
    color: #dddddd;
    
}
#terminal__prompt--cursor {  
    white-space: nowrap; /* Evita que se divida en múltiples líneas */
    display: inline; /* Permanece en la misma línea que el texto */
    height: 17px;  
    width: 1px;  
    margin-left: 0px;  
    animation: blink 1200ms linear infinite;
}  
.command-response-container {
    display: flex;
    flex-direction: column;
    white-space: pre;
    text-align: left;
    color: white;
    align-items: flex-start;
    tab-size: 4;
}
@keyframes blink {  
    0% {    
      background: #ffffff;  
    }  
    49% {    
      background: #ffffff;  
    }  
    60% {    
      background: transparent;  
    }  
    99% {    
      background: transparent;  
    }  100% {    
      background: #ffffff;  
    }
} 
#terminal__body::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    background: rgba(56, 4, 40, 0.405); 
    transition: all 0.3s;
    
}
#terminal__body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.034); /* Color de la barra de desplazamiento */
    /*background: linear-gradient(45deg, #7678f7, #009933);*/
    border-radius: 5px; /* Radio de borde de la barra de desplazamiento */
    transition: background-color 0.3s;

    
    min-width: 10px;
}
#terminal__body::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1); //* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}


/* Contenido de un archivo */
.archivo {
    background-color: rgb(31, 41, 31);
    color: white;
    font-family: Roboto;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid rgba(194, 74, 74, 0.438);
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto; 
    white-space: pre;
}
.archivo::-webkit-scrollbar {
    width: 5px; /* Ancho de la barra de desplazamiento */
    background: rgb(31, 41, 31);
    transition: all 0.3s;
}
.archivo::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* Color de la barra de desplazamiento */
    /*background: linear-gradient(45deg, #7678f7, #009933);*/
    border-radius: 2px; /* Radio de borde de la barra de desplazamiento */
    transition: background-color 0.3s;
    border-bottom: 6px solid rgb(31, 41, 31);
    border-top: 6px solid rgb(31, 41, 31);
    min-width: 10px;
}
.archivo::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3); //* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}


/* Barra de desplazamiento vertical */
body::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
    background: #252323;
    transition: all 0.3s;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* Color de la barra de desplazamiento */
    /*background: linear-gradient(45deg, #7678f7, #009933);*/
    border-radius: 2px; /* Radio de borde de la barra de desplazamiento */
    transition: background-color 0.3s;
    border-bottom: 6px solid #252323;
    border-top: 6px solid #252323;
    min-width: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3); //* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}


/* Imagenes */
.blog-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-image img {
    max-width: 100%;
    width: 300px;
    height: auto;
}

.blog-image-normal {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-image-normal img {
    max-width: 100%;
    width: 45%;
    height: auto;
}

.blog-image-mediana {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-image-mediana img {
    max-width: 100%;
    width: 400px;
    height: auto;
}

.blog-image-grande {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-image-grande img {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.blog-image-zoom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.blog-image-zoom img {
    max-width: 100%;
    width: 60%;
    height: auto;
}

.blog-image-doble {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.blog-image-doble img {
    width: 25%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
    margin-right: 4%;
}

.blog-image-doble-grande {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.blog-image-doble-grande img {
    width: 40%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
    margin-right: 4%;
}

.blog-image-blanco {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
} 
.blog-image-blanco img {
    max-width: 100%;
    width: 200px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(35deg) brightness(106%) contrast(100%);
}


/* Matriz determinante 3x3*/
.matrix {
    display: grid;
    grid-template-columns: repeat(3, 50px); /* Cambia el número para ajustar el número de columnas */
    gap: 5px; /* Espacio entre celdas */
}
.number {
    border: 1px solid white;
    font-family: 'Roboto';
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.7;
}
.matrix .number:nth-last-child(-n+6) {
    border: 1px solid mediumspringgreen;   
}

/* División de matrices*/
.matrix-division {
    display: grid;
    font-family: 'Roboto';
    grid-template-columns: auto 30px auto 30px auto;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.7;
}
.matrixDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid white;
    padding: 5px;
    color: white;   
}


/* Multiplicación de matrices*/
.matrix-mul {
    display: flex;
    font-family: 'Roboto';
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
    opacity: 0.7;
}
.matrixMul2x2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-items: center;
    color: white;
    
}
.matrixMul2x1 {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-items: center;
    color: white;   
}

.cell {
    border: 1px solid white;
    padding: 5px;
    
}
.division, .sign, .equals {
    font-size: 20px;
    margin: 0 5px;
    color: white;
}

/* Additional styling for specific cells */
.matrix-a2x2 .cell:nth-child(1), .matrix-a2x2 .cell:nth-child(4) {
    color: #f0f0f0;
}
.matrix-b2x1 .cell:nth-child(1), .matrix-b2x1 .cell:nth-child(2) {
    grid-row: span 2;
}
.matrix-c2x1 .cell:nth-child(1) {
    grid-row: span 2;
}


/* Tamaño de pantalla */
@media (max-width: 1024px){
    .container__header,main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
        opacity: 0.7;
    }

    .header__botonMenu{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #000;
    } 

    .menu nav ul li{
        padding: 10px 40px;
    } 

    /* Clase Manipulada por JS */
    .mostrar_menu{
        height: auto;

    }

    iframe {
        width: 300px; /* Ancho del video */
        height: 200px; /* Alto del video */
    }
}

@media (max-width: 5200px){
    .comandos button span {
        display: none;
      }
}    

@media (max-width: 720px){

    .blog-image-doble img {
        width: 47%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
        margin-right: 4%;
    }

    .blog-image-doble-grande img {
        width: 47%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
        margin-right: 4%;
    }

    .text__articulo-cover ol li{
       list-style-position: inside;
    }

    .text__articulo-cover ul li{
        list-style-position: inside;
     }

    .number {
        width: 30px;
        height: 30px;  
    }
    .matrix {
        gap: 2px;
        grid-template-columns: repeat(3, 30px);
    }

    .blog-image-zoom img {
        width: 100%;
    }

    .blog-image-normal img {
        width: 100%;
    }
} 







.language-console {
    padding: 26px 0px 0px;
    border-radius: 5px;
    font-family: Segoe UI;
    /* last one defines what's below the bar - eef is original */
    background: linear-gradient(#504b45, #3c3b37 20px, #3c3b37 20px, #3c3b37 21px, #380428 21px);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25);
}  
.language-console pre {
    border: none;
    background: #380428 !important;
}  
.language-console code {
    background-color: #380428;
    color: #ffd;
}  
.language-console .gp {
    color: #8d4;
}  
.language-console .nt {
    color: #99f;
} 
.language-console .go {
    color: #fff;
}
.language-console .highlight {
    border: none;
}
  .language-console .s,
  .language-console .s2,
  .language-console .nn {
    color: #2ad;
}

