@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgba(0, 0, 0, 0.800);
    opacity: 0.6;
}

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 90px;
    filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(35deg) brightness(106%) contrast(100%);
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: opacity 300ms;
}

.menu nav ul a:hover{
    opacity: 0.6;
}

.btn__header-botonMenu{
    padding: 14px 50px;
    border: none;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btn__header-botonMenu:hover{
    background: mediumpurple;
    color: white;
}

#icon_menu{
    display: none;
}

/* PORTADA - COVER */

main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;   
}

.text__articulo-cover{
    width: 100%;
}

.text__articulo-cover h1{
    font-size: 26px;
    color: royalblue;
    font-weight: normal;
    margin-bottom: 40px;
}

.text__articulo-cover p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.blog-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image img {
    max-width: 100%;
    width: 300px;
    height: auto;
}

.blog-image-doble {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-doble img {
    width: 25%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
    margin-right: 4%;
}

.blog-image-grande {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-grande img {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.blog-image-zoom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-zoom img {
    max-width: 100%;
    width: 700px;
    height: auto;
}

@media (max-width: 1024px){
    .container__header,main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__botonMenu{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #000;
    } 

    .menu nav ul li{
        padding: 10px 40px;
    } 

    /* Clase Manipulada por JS */
    .mostrar_menu{
        height: 235px;

    }

}

@media (max-width: 720px){

    .blog-image-doble img {
        width: 47%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
        margin-right: 4%;
    }

}    