@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgba(0, 0, 0, 0.800);
    
}

header{
    height: 100px;
}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 90px;
    filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(35deg) brightness(106%) contrast(100%);
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
}

.menu nav ul a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: opacity 300ms;
    opacity: 0.7;
}

.menu nav ul a:hover{
    opacity: 0.6;
}

.btn__header-botonMenu{
    padding: 14px 50px;
    border: none;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btn__header-botonMenu:hover{
    background: mediumpurple;
    color: white;
}

#icon_menu{
    display: none;
}

/* PORTADA - COVER */

main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;   
}

.text__articulo-cover{
    width: 100%;
}

.text__articulo-cover h1{
    font-size: 26px;
    color: rgb(122, 162, 235);
    font-weight: normal;
    margin-bottom: 40px;
    opacity: 0.7;
}

.text__articulo-cover h2{
    font-size: 21px;
    color: rgb(122, 162, 235);
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.text__articulo-cover p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    opacity: 0.7;
}

.text__articulo-cover ul li{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    opacity: 0.7;
}

.text__articulo-cover ol li{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    opacity: 0.7;
}

.text__articulo-cover table{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 8px;
    opacity: 0.7;
}

.text__articulo-cover table td, th {
    border: 1px solid white; /* Define el estilo del borde de las celdas */
    padding: 8px; /* Añade espacio interno a las celdas */
    text-align: right; /* Alinea el contenido de las celdas a la derecha */
    opacity: 0.7;
  }

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 50px); /* Cambia el número para ajustar el número de columnas */
    gap: 5px; /* Espacio entre celdas */
}
.number {
    border: 1px solid white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.7;
}

.matrix .number:nth-last-child(-n+6) {
    border: 1px solid mediumspringgreen;
    
}


.matrix-division {
    display: grid;
    grid-template-columns: auto 30px auto 30px auto;
    align-items: center;
    text-align: center;
    opacity: 0.7;
}

.matrixDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid white;
    padding: 5px;
    color: white;
    
}

.matrix-mul {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
    opacity: 0.7;
}

.matrixMul2x2 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-items: center;
    color: white;
    
}

.matrixMul2x1 {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-items: center;
    color: white;
    
}

.cell {
    border: 1px solid white;
    padding: 5px;
    
}

.division, .sign, .equals {
    font-size: 20px;
    margin: 0 5px;
    color: white;
    opacity: 0.7;
}

/* Additional styling for specific cells */
.matrix-a2x2 .cell:nth-child(1), .matrix-a2x2 .cell:nth-child(4) {
    color: #f0f0f0;
}

.matrix-b2x1 .cell:nth-child(1), .matrix-b2x1 .cell:nth-child(2) {
    grid-row: span 2;
}

.matrix-c2x1 .cell:nth-child(1) {
    grid-row: span 2;
}


/* Estilos para la sección de comandos */
.contenedor{
    position: relative;
}

.etiqueta{
    padding: 10px;
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
}

.comandos {
    position: relative;
    padding: 5px;
    border-radius: 10px;
    display: flex;
  }

.comandos input.text{
    padding: 10px;
    font-size: 16px;
    color: #252323;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: monospace;
    max-width: 1100px;
    width: auto;
}

.comandos button{
    padding: 10px;
    background: #5784f5;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.comandos button:active{
    background: #809ce2;
}

.comandos button:before{
    content: "copiado!";
    position: absolute;
    top: -45px;
    left: 0px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.comandos button:after{
    content: "";
    position: absolute;
    top: -20px;
    left: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}

.comandos.active button:before,
.comandos.active button:after{
    display: block;
}

  /* Estilos para el código */
  code {
    background-color: #f4f4f4;
    padding: 4px;
    font-family: monospace;
    border: none;
    border-radius: 10px;

    font-size: 18px;
    color: #555;
    outline: none;
    opacity: 0.7;
  }
  
  /* Estilos para el botón */
  .btn-copiar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 10px;
    
  }

.blog-image {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image img {
    max-width: 100%;
    width: 300px;
    height: auto;
}

.blog-image-doble {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-doble img {
    width: 25%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
    margin-right: 4%;
}

.blog-image-doble-grande {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-doble-grande img {
    width: 40%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
    margin-right: 4%;
}

.blog-image-grande {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-grande img {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.blog-image-blanco {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-blanco img {
    max-width: 100%;
    width: 200px;
    height: auto;
    filter: invert(100%) sepia(0%) saturate(7447%) hue-rotate(35deg) brightness(106%) contrast(100%);
}

.blog-image-zoom {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.blog-image-zoom img {
    max-width: 100%;
    width: 700px;
    height: auto;
}

@media (max-width: 1024px){
    .container__header,main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__botonMenu{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #000;
    } 

    .menu nav ul li{
        padding: 10px 40px;
    } 

    /* Clase Manipulada por JS */
    .mostrar_menu{
        height: 235px;

    }

}

@media (max-width: 720px){

    .blog-image-doble img {
        width: 47%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
        margin-right: 4%;
    }

    .blog-image-doble-grande img {
        width: 47%; /* Ajusta el ancho de las imágenes para dejar espacio entre ellas */
        margin-right: 4%;
    }

    .text__articulo-cover ol li{
       list-style-position: inside;
    }

    .text__articulo-cover ul li{
        list-style-position: inside;
     }

    .comandos button span {
        display: none;
      }
    .number {
        width: 30px;
        height: 30px;  
    }
    .matrix {
        gap: 2px;
        grid-template-columns: repeat(3, 30px);
    }
}    