/* Importar fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@font-face {
    font-family: 'Only';
    src: url('../fonts/locals-only/Locals\ Only.ttf');
}
@font-face {    
    font-family: 'Spanky';
    src: url('../fonts/spanky/spanky.ttf');
}
@font-face {    
    font-family: 'Dripping Marker';
    src: url('../fonts/a-dripping-marker/adrip1.ttf');
}
@font-face {    
    font-family: 'Pagal';
    src: url('../fonts/pagal-font/Pagal\ Font.TTF');
}
@font-face {    
    font-family: 'Ruthless1';
    src: url('../fonts/ruthless-one/RuthlessWreckin1.ttf');
}
@font-face {    
    font-family: 'Ruthless2';
    src: url('../fonts/ruthless-two/RuthlessWreckin2.ttf');
}
@font-face {    
    font-family: 'Trhowupz';
    src: url('../fonts/throwupz/throwupz.ttf');
}
@font-face {    
    font-family: 'Thug';
    src: url('../fonts/thug/THUG.TTF');
}
@font-face {    
    font-family: 'Martyric';
    src: url('../fonts/martyric/Martyric_PersonalUse.ttf');
}
@font-face {    
    font-family: 'Mainstream';
    src: url('../fonts/mainstream/Mainstream_PERSONAL_USE_ONLY.ttf');
}
@font-face {    
    font-family: 'DocallismeOnStreet';
    src: url('../fonts/docallisme-on-street/docallismeonstreet.otf');
}
@font-face {    
    font-family: 'Bubble';
    src: url('../fonts/el-font-bubble/Font\ \(el&font\ bubble\).ttf');
}
@font-face {    
    font-family: 'Skidmarked';
    src: url('../fonts/skidmarked/Skidmarked.ttf');
}
@font-face {    
    font-family: 'Subway';
    src: url('../fonts/subway/subway.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f5f5f5;
}

header{
    height: 100px;
}

.container__header{
    width: 100%;
    height: 100%;
    /*margin: auto;*/
    padding: 20px;
    /*padding-top: 80px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.mover{
    background: #f5f5f5;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 90px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;

}

.menu nav ul a{
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: black;
    transition: opacity 300ms;
}

.menu nav ul a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* espacio bajo el texto */
    width: 0%;
    height: 2px;
    background-color: rgb(243, 51, 51); /* mismo color del hover */
    transition: width 0.3s ease-in-out;
}

.menu nav ul a:hover{
    color: rgb(243, 51, 51);
}

.menu nav ul a:hover::after{
    width: 100%;
}

.btn__header-botonMenu{
    padding: 14px 50px;
    border: 1px solid #000000;
    background: #000;
    color: white;
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
    border-radius: 5px;
}
.btn__Whoami-cover{
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btn__header-botonMenu:hover,
.btn__Whoami-cover:hover{
    background: #69F1A1;
    color: #000;

}

.header-icons {
    display: flex;
    gap: 15px; /* separación entre iconos */
    margin-left: 20px;
}

.header-icons img {
    width: 28px; /* ajusta el tamaño a tu gusto */
    height: 28px;
    
    opacity: 0.8;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.header-icons img:hover {
    transform: scale(1.2);
    opacity: 1;
}

#icon_menu{
    display: none;
}

/* PORTADA - COVER */

main{
    max-width: 1200px;
    height: calc(100vh + 800px);
    padding-top: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;   
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}

.text__enlaces-cover{
    width: 80%;
}

.text__enlaces-cover h1{
    font-size: 25px;
    font-weight: normal;
    color: black;
}

.text__enlaces-cover p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.article-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.article-section h2 a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.article-section h2 a:hover{
    opacity: 0.5;
}

.article-image {
    width: 75px;
    margin-right: 10px;
}

.text__articulo-cover{
    width: 100%;
}

.text__articulo-cover h1{
    font-size: 26px;
    color: royalblue;
    font-weight: normal;
}

.text__articulo-cover p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;

}

.btn__readMore-cover{
    padding: 14px 40px;
    border: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btn__readMore-cover:hover{
    background: #E8E8E8;

}

.media__cover{
    width: 50%;

}

.media__cover video{
    width: 100%;
    margin-top: -10px;
}


/* BANNER */

.container__banner{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}

.banner__icon-robot{
    width: 35%;
    height: 100%;
}

#icon_robot{
    top: -30px;
    width: 300px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;

}

.banner__text h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner__text a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner__text a:hover{
    color: #69F1A1;
}    

.banner__icon-fire{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_fire{
    width: 300px;
    margin-top: -115px;
    position: relative;
    opacity: 0.6;
}

.banner__icon-water{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_water{
    width: 300px;
    margin-top: -10px;
    position: relative;
    opacity: 0.6;
}

body::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    background: #f5f5f5;
    transition: all 0.3s;
}

body::-webkit-scrollbar-thumb {
    /*background: rgba(255, 255, 255, 0.2);*/ /* Color de la barra de desplazamiento */
    background: linear-gradient(45deg, #FFF, #000);
    border-radius: 2px; /* Radio de borde de la barra de desplazamiento */
    transition: background-color 0.3s;
    border-right: 2px solid #f5f5f5;
    border-left: 2px solid #f5f5f5;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    min-width: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.3); //* Color de la barra de desplazamiento al pasar el cursor sobre ella */
}



/* Barra negra con fade en los bordes */
.graffiti-bar {
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

/* Contenedor del scroll de palabras */
.track {
  display: flex;
  white-space: nowrap;
  animation: scrollWords 15s linear infinite;
}

/* Estilo general de las palabras */
.word {
  color: black;
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 80px;
  display: inline-block;
}

/* Diferentes estilos tipo graffiti , , , , */
.style1 { font-family: 'Only', cursive; transform: rotate(-5deg); }
.style2 { font-family: 'Skidmarked', cursive; transform: rotate(3deg); }
.style3 { font-family: 'Trhowupz', cursive; transform: rotate(-2deg); }
.style4 { font-family: 'Thug', cursive; transform: rotate(4deg); }
.style5 { font-family: 'Pagal', cursive; transform: rotate(-3deg); }
.style6 { font-family: 'Ruthless1', cursive; transform: rotate(-5deg); }
.style7 { font-family: 'Martyric', cursive; transform: rotate(3deg); }
.style8 { font-family: 'Mainstream', cursive; transform: rotate(-2deg); }
.style9 { font-family: 'DocallismeOnStreet', cursive; transform: rotate(4deg); }
.style10 { font-family: 'Bubble', cursive; transform: rotate(-3deg); }

/* Animación de scroll */
@keyframes scrollWords {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


@media (max-width: 1300px){
    .container__header,main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #000 !important; 
    }
    
    .header-icons img {
        display: none;
    }

    .header__botonMenu{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    } 

    .menu nav ul li{
        padding: 10px 40px;
    } 

    
    
    /* Clase Manipulada por JS */
    .mostrar_menu{
        height: auto;

    }

    .text__information-cover h1{
        font-size: 40px;
    }

    .text__information-cover p{
        font-size: 16px;
    }
    
    .banner__text h2{
        font-size: 22px;
    }

    #icon_robot{
        width: 220px;
        top: -30px;
    }

    .banner__icon-fire{
        right: -1px;

    }
}

@media (max-width: 920px){
    .text__information-cover{
        width: 100%;
    }

    .media__cover{
        display: none;
    }

    .banner{
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire{
        display: none;
    }

    #icon_water{
        display: none;
    }

    .banner__text{
        width: 100%;
        margin-top: -100px;
    }
}